* {
    font-family: 'Raleway', sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

body {
    display: flex;
    justify-content: center;
    width: 100%;
} 

.main-container {
    width: 100%;
    max-width: 1440px;
    margin: 0 50px;
    box-sizing: border-box;
}

h1 {
    font-size: 22px;
    font-weight: bold;
}

h2 {
    font-size: 18px
}

a {
    text-decoration: none;
    color: inherit;
}

p {
    font-size: 16px;
}

.fa-solid {
    color: var(--main-color);
}

li {
    list-style: none;
}

/* Partie Header */


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

header img {
    width: 100%;
    height: 20px;
    object-fit: cover;
    object-position: center;
    padding: 30px 0px;
}

nav ul {
    display: flex;
}

nav li {
    padding-bottom: 19px;
    margin-left: 68px;
}

nav a {
    text-align: end;
}

nav a:hover {
    color: var(--main-color);
    border-top: 2px solid var(--main-color);
    padding-top: 21px;
}


/* Recherche */

.info-group {
    display: flex;
    flex-direction: column;
}

.info-group h1 {
    margin-bottom: 10px;
}

.recherche {
    display: flex;
    margin-top: 35px;
}

.recherche label {
    border-radius: 15px 0px 0px 15px;
    background-color: var(--main-bg-color);
    padding: 16px;
}

.recherche button {
    border-radius: 0px 15px 15px 0px;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    color: white;
    padding: 0px 16px;
    font-size: 18px;
    font-weight: bold;
}

.fa-location-dot {
    color: black;
}

.fa-magnifying-glass {
    display: none;
}

#site-search {
    border: 2px solid #F2F2F2;
    padding: 0 24px;
    font-size: 18px;
    font-weight: 700;
}

::-webkit-search-cancel-button {
    display: none;
}
button:hover {
    border: 2px solid #F2F2F2;
}


/** Filtre **/


.filtre {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 35px 0px;
}

.filtre ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 15px;
    gap: 20px;
}

.filtre li {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 2px solid #F2F2F2;
    border-radius: 25px;
}

.filtre li:hover {
    background-color: var(--filter-bg-color);
}

.filtre span {
    font-size: 14px;
    font-weight: 700;
    margin-left: 10px;
}

.info-bar {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.fa-info {
    border: 2px solid var(--main-bg-color);
    border-radius: 20px;
    padding: 5px 10px;
    margin-right: 10px

}

/** Hebergements & Populaires **/

.section-title {
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

/****** Hebergements ***********/
#hebergement {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    width: 65%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

#hebergement .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}

.hebergements-cards a {
    width: 31%;
}

.hebergements-cards img {
    width: 100%;
    height: 136px;
    object-fit:cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-txt {
    width: 100%;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}



/****** Populaires ***********/
.populaires {
    width: 32%;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/** Activités **/

#activite {
    margin-bottom: 30px;
    padding: 30px;
}

.activites-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#activite .card {
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    padding: 0;
}

.activites-cards a {
    width: 23%;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    object-fit: cover;
    object-position: center;
    border-radius: 20px 20px 0 0;
}

#activite .card-title {
    padding: 20px;
}

/** Footer **/

footer {
    display: flex;
    background-color: var(--main-bg-color);
}

footer li {
    margin-top: 15px;
}

.footer {
    width: 34%;
    padding: 20px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    #site-search {
        padding: 14px;
    }

    .info-group {
        margin-bottom: 35px;
    }

    .filtre {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0;
    }

    .filtre h2 {
        margin-bottom: 20px;
    }

    .filtre ul {
        margin: 0;
        justify-content: flex-start;
        gap: 20px;
    }

    .filtre li {
        margin: 0;
    }

    .info-bar {
        margin-top: 35px;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    #hebergement {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards img {
        height: 200px;
    }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

    .main-container {
        padding: 0;
        margin: 0;
    }

    header {
        display: flex;
        align-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    
    .recherches {
        margin: 0px 20px;
        justify-content: center;
    }

    nav {
        width: 100%;
    }

    nav ul {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    nav li {
        padding-bottom: 15px;
        margin-left: 0;
        border-bottom: 2px solid var(--main-bg-color);
        width: 100%;
        text-align: center;
    }

    nav li:hover {
        border-bottom: 2px solid var(--main-color);
    }

    nav a:hover {
        border-top: none;
    }
    
    .info-group p {
        margin: 10px 0px;
    }

    .recherche span {
        display: none;
    }

    #site-search {
        padding: 14px;
        max-width: 300px;
        width: 60%;
    }

    .fa-magnifying-glass {
        display: contents;
        color: white;
    }

    .filtre {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .filtre h2 {
        margin-bottom: 20px;
    }

    .filtre ul {
        padding: 0;
        }

    .filtre li {
        margin: 0;
        width: 110px;
        margin-right: 10px;
    }

    .populaires {
        display: flex;
        flex-direction: column;
        border-radius: 0px;
        order: -1;
        margin-top: 0;
        padding: 20px;
    }
    
    .populaires-cards {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .populaires .card {
        width: 100%;
    }
    
    .populaires-cards a {
        display: flex;
        width: 100%;
    }

    .populaires-cards img {
        width: 33%;
        height: 136px;
        object-fit: cover;
        object-position: center;
    }
    
    .populaires .card-content {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }

    .populaires .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }
    
    .populaires-cards .card-txt {
        width: 100%;
    }
    
    .populaires-cards .card-subtitle {
        margin: 0;
    }
    
    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }
    
    #hebergement {
        background-color: inherit;
        padding: 20px;
    }

    .hebergements-cards {
        flex-direction: column;
    }

    .hebergements-cards a {
        width: 100%;
    }
    
    .hebergements-cards img {
        width: 100%;
        height: 136px;
        object-fit: cover;
        border-radius: 20px 20px 0 0;
    }
    
    .hebergements-cards .card-content {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
    }
    
    .hebergements-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }
    
    .hebergements-cards .card-txt {
        width: 100%;
    }
    
    .hebergements-cards .card-subtitle {
        margin: 0;
    }
    
    .hebergements-cards .card-rating {
        margin-bottom: 5px;
    }

    .activites-cards {
        flex-direction: column;
    }

    .activites-cards a {
        width: 100%;
    }

    .activites-cards img {
        width: 100%;
        height: 136px;
        object-fit: cover;
    }

    footer {
        flex-direction: column;
        padding: 30px;
    }

    .footer-title {
        margin-top: 50px;
    }

    .footer {
        width: 100%;
        padding: 0%;
    }

}